# Core functionality - changes here should be rare!
/src/app.py                   @markxevans
/src/backend/database.py      @markxevans
/src/backend/routers/auth.py  @markxevans

# The frontend will need refactored soon to be more object oriented.
/src/static/   @markxevans
